/*Estilo geral*/
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flex {
    display: flex;
}

h2.titles {
    color: black;
    font-size: 38px;
    text-align: center;
}

/*nav*/
nav {
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul.fixed {
    position: fixed;
    /*background-color: #00D1FF;*/
    background-color: #F5F5DC;
    z-index: 11;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover {
    background-color: #E0D9B0;
}

nav li:nth-child(2) {
    margin-right: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.sidebar #darkModeSideBar {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 30px;
}

.menu-button {
    display: none;
}

.checkbox {
    position: absolute;
    opacity: 0;
}

#darkMode {
    display: flex;
    justify-content: center;
    align-items: center;
}

.label {
    background-color: rgb(16, 23, 31);
    border-radius: 50px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 20px;
    width: 50px;
}

.label .ball {
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;

    height: 26px;
    width: 26px;

    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked+.label .ball {
    transform: translateX(30px);
}

.fa-moon {
    color: #f1c40f;
    font-size: 20px;
}

.fa-sun {
    font-size: 20px;
    color: #f39c12;
}

/*TOP STYLE PORTFOLIO*/

section.top-portfolio {
    padding: 40px 4%;
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.469);
}

section.top-portfolio .flex {
    justify-content: center;
    align-items: center;
    gap: 90px;
}

.txt-top-portfolio h1 {
    color: black;
    font-size: 50px;
    line-height: 70px;
}

.txt-top-portfolio h1 span {
    display: block;
    /* color: #00D1FF;*/
    color: #D2691E;
    font-size: 50px;
    line-height: 40px;
}

.txt-top-portfolio h2 {
    color: black;
    margin: 40px 0;
    font-size: 30px;
}

.top-portfolio .img-top-portfolio img {
    position: relative;
    animation: float 2s ease-in-out infinite alternate;
    z-index: 10;
    border-radius: 50%;
    scale: 0.9;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(30px);
    }
}

/*especialidades STYLE*/

section.especialidades {
    padding: 80px 8%;
    box-shadow: 0px 0px 40px 10px rgb(0, 0, 0);
}

section.especialidades .flex {
    gap: 60px;
    margin-top: 40px;
    justify-content: center;
}

.especialidades .titles span {
    color: #D2691E;
}

.especialidades .especialidades-box {
    padding: 50px;
    border: 2px solid black;
    border-radius: 20px;
}

.especialidades .especialidades-box a {
    scale: 0.9;
    cursor: auto;
}

.especialidades .especialidades-box:hover {
    box-shadow: 0 0 12px #D2691E;
}

.especialidades .especialidades-box i {
    font-size: 70px;
    color: black;
}

.especialidades .especialidades-box h3 {
    font-size: 28px;
    color: black;
    margin: 11px 0;
}

/*About Me STYLE*/

section.aboutMe {
    padding: 100px 4%;
}

section.aboutMe .flex {
    align-items: center;
    gap: 60px;
}

.aboutMe .img-aboutMe img {
    animation: increase 2s ease-in-out infinite alternate;
    border-radius: 50%;
}

@keyframes increase {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

.aboutMe .txt-aboutMe h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.aboutMe .txt-aboutMe h2 span {
    color: #D2691E;
}

.aboutMe .txt-aboutMe p {
    margin: 20px 0;
    text-align: justify;
    color: black;
    font-weight: bold;
}

.aboutMe .txt-aboutMe .btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 0;
    font-size: 30px;
    background-color: #00D1FF;
    cursor: pointer;
    margin: 0 10px;
    transition: .2s;
}

.aboutMe .txt-aboutMe .btn-social button:hover {
    box-shadow: 0px 0px 8px #00D1FF;
    transform: scale(1.05);
}

/*Projects Style*/

section.portfolio {
    padding: 80px 4%;
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.469);
}

section.portfolio .flex {
    justify-content: space-around;
    margin: 60px;
}

.portfolio .titles span {
    color: #D2691E;
}

.img-port {
    width: 340px;
    height: 460px;
    background-color: #00D1FF;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    color: white;
    border-radius: 40px;
    position: relative;
}

.img-port:hover {
    background-position: 100% 100%;
    box-shadow: 0 0 100px rgb(13, 246, 246);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.706);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    opacity: 0;
    transition: .5s;
    line-height: 1;
}

.overlay:hover {
    opacity: 1;
}

/*form Style*/
.form .titles {
    margin-bottom: 20px;
}

.form .titles span {
    color: #D2691E;
}

section.form {
    padding: 80px 4%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

}

form input,
form textarea {
    width: 100%;
    background-color: #F5F5DC;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: black;
    font-size: 20px;
}

form input::placeholder {
    color: black;
    font-weight: 400;
}

form textarea {
    resize: none;
    max-height: 200px;
}

form textarea::placeholder {
    color: black;
}

form .btn-enviar {
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input {
    width: 120px;
    background-color: #D2691E;
    color: white;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

form .btn-enviar input:hover {
    box-shadow: 0px 0px 8px #D2691E;
    transform: scale(1.05);
}

/*dark Mode*/
/*general styles*/
body.dark {
    background-color: rgb(5, 5, 5);
}

h2.titles.dark {
    color: #f2f2f2;
}

/*portfolio styles*/
section.portfolio.dark {
    box-shadow: 0px 0px 40px 10px rgba(222, 217, 217, 0.861);
}

.top-portfolio .txt-top-portfolio h1.dark {
    color: white;
}

.top-portfolio .txt-top-portfolio h2.dark {
    color: #f2f2f2;
}

/*especialidades styles*/

section.especialidades.dark {
    box-shadow: 0px 0px 40px 10px rgba(222, 217, 217, 0.861);
}

.especialidades .especialidades-box.dark {
    border: 2px solid rgb(217, 204, 204);
    background-color: #a69a9a;
}

/*About Me styles*/
.aboutMe .txt-aboutMe h2.dark {
    color: #f3dada;
}

.aboutMe .txt-aboutMe h2 span.dark {
    color: #D2691E;
}

.aboutMe .txt-aboutMe p.dark {
    color: #f2f2f2;
}

/*contact me*/
form input[type="text"].dark,
form textarea.dark {
    background-color: #f2f2f2;
}


/*End dark Mode*/

@media(max-width:1200px) {
    .img-port {
        width: 450px;
        height: 460px;
        margin: 0 5px;
    }
}

@media(max-width:800px) {

    /*nav Style*/
    .hideOnMobile,
    #darkMode {
        display: none;
    }

    .menu-button {
        display: block;
    }

    /* Style*/
}

@media(max-width:400px) {

    /*estilos gerais*/
    .flex {
        flex-direction: column;
    }

    /*nav Style*/
    .sidebar {
        width: 100%;
    }

    /*especialidades Style*/
    .especialidades .especialidades-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .especialidades .especialidades-box a {
        margin: 0 30px;
    }

    /*portfolio styles*/
    .top-portfolio .flex {
        flex-direction: column-reverse;
    }

    .top-portfolio .img-top-portfolio {
        scale: 0.9;
    }

    .txt-top-portfolio h1 {
        font-size: 44px;
    }

    .txt-top-portfolio h1 span {
        font-size: 35px;
    }

    .txt-top-portfolio h2 {
        margin: 10px 0;
        font-size: 20px;
    }

    .txt-top-portfolio p {
        color: rgb(21, 61, 61);
        margin: 40px 0;
    }

    /*aboutMe Style*/
    .aboutMe .img-aboutMe {
        scale: 0.9;
    }

    .aboutMe .txt-aboutMe h2 {
        font-size: 35px;
    }

    .aboutMe .txt-aboutMe span {
        font-size: 35px;
    }

    /*portfolio Style*/
    .portfolio .img-port {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }

    section.portfolio .flex {
        gap: 30px;
    }

    /*form Style*/
    form {
        width: 250px;
        max-width: 500px;
        min-width: 230px;
    }

}